.footerwrapper{
  position: relative;

  footer{
  width: 100%;
  height: 8vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  p{
    color: #fff;
    font-size: 14px;
}
}


}




