/* მთავარი wrapper */
.grandfather {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* ლოგინ ბლოკი */
.login {
  background: #1c1c1c;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(249, 211, 66, 0.2);
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90%;
}

.login h1 {
  text-align: center;
  color: #f9d342;
  margin-bottom: 25px;
  font-size: 28px;
  letter-spacing: 1px;
}

/* ლეიბლები */
.login label {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
}

/* ინპუტები */
.login input {
  padding: 10px 14px;
  border: 1px solid #f9d342;
  border-radius: 8px;
  outline: none;
  background: transparent;
  color: white;
  font-size: 15px;
  transition: 0.3s ease;

}

.login input::placeholder {
  color: #ccc;
}

.login input:focus {
  border-color: white;
  box-shadow: 0 0 8px rgba(249, 211, 66, 0.3);
}

/* Sign Up ღილაკის კონტეინერი */
app-button {
  margin-top: 25px;
  width: 100%;
  
}

/* ქვედა ტექსტი */
.login a p {
  text-align: center;
  color: #f9d342;
  font-size: 14px;
  margin: 0;
  transition: 0.3s;
}

.login a p:hover {
  color: white;
}

/* RESPONSIVE (მობილურისთვის) */
@media (max-width: 500px) {
  .login {
    width: 100%;
    padding: 25px;
  }

  .login h1 {
    font-size: 22px;
  }

  .login input {
    font-size: 14px;
  }

  .login label {
    font-size: 13px;
  }
}
