<div  class="cart">
  <h1>Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of product">
        <td><img [src]="item.product.image" alt=""></td>
        <td>{{item.product.name}}</td>
        <td> <p> {{ (item.quantity  ) * (item.price ?? 0) }}$</p> </td>
        <td>

          <button style="background-color: white; color: black; font-size: 20px; cursor: pointer;" (click)="decrease(item)">-</button>
          <span class="quantity">{{item.quantity}}</span>
          <button style="background-color: white; color: black; font-size: 20px; cursor: pointer;" (click)="increase(item)">+</button>

        </td>

        <td>

          <button (click)="deleteItem(item.product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="checkout" (click)="success()">Checkout</button>
</div>
